@tailwind base;
@tailwind components;
@tailwind utilities;
@responsive {
  .text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.20);
  }
 
  .text-shadow-none {
    text-shadow: none;
  }
}

.gradient {
            background: rgba(248, 209, 121, 1);
            background: rgb(208, 115, 120);
            background: linear-gradient(
              90deg,
              rgba(239, 114, 88, 1) 0%,
              rgba(236, 78, 75, 1) 10%,
              rgba(239, 114, 88, 1) 45%,
              rgba(248, 209, 121, 1) 75%,
              rgba(133, 216, 243, 1) 97%
            );
          }
          .gradient-v {
            background: linear-gradient(
              180deg,
              rgba(239, 114, 88, 1) 0%,
              rgba(236, 78, 75, 1) 10%,
              rgba(239, 114, 88, 1) 45%,
              rgba(248, 209, 121, 1) 75%,
              rgba(133, 216, 243, 1) 97%
            );
          }

          .gradient-simple {
            background: rgba(236, 78, 75, 1);
            background: linear-gradient(
              90deg,
              rgba(239, 114, 88, 1) 0%,
              rgba(236, 78, 75, 1) 10%,
              rgba(239, 114, 88, 1) 45%,
              rgba(248, 209, 121, 1) 95%
            );
          }